Parameters:
  DomainId:
    Type: String
    Description: ID of the SageMaker Domain
  UserProfileName:
    Type: String
    Description: Name the new user profile

Resources:

  UserProfile:
    Type: AWS::SageMaker::UserProfile
    Properties:
      UserProfileName: !Ref UserProfileName
      DomainId: !Ref DomainId
      UserSettings:
        ExecutionRole: !Join ["", ["arn:aws:iam::", !Ref AWS::AccountId, ":role/SageMakerExecutionRole"] ]

